@import url("button.css");
@import url("navbar.css");
@import url("list.css");
@import url("scrollbar.css");
:root{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary:#ececec;
    --bg-primary:#23232e;
    --bg-secondary:#141418;
}


main{
    margin-left: 5rem;
    padding: 1rem;
}
header{
    margin: 0;
}
body{
    background-image: url('../../MainPage/Assets/MainpageImages/background.jpg');
    background-size: cover;
    color: var(--text-primary);
    margin: 0;
    pad: 0;
}






