body {
    background-image: url('../Assets/MainpageImages/background.jpg');
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

h1 {
    font-family: serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 30vh;
    background-color: #ffffff14;
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    border-radius: 10px;
}

.Inscrire_se_Co {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Carte,
.Telephone {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Telephone {
    margin-left: 3%;
}

#imageTelephone {
    width: 50vh;
    height: auto;
    margin-top: 5px;
}

#Inscription {
    width: 15vh;
    height: auto;
    margin-top: 5px;
}

#logo {
    width: 50vh;
    min-width: 50px;
    height: auto;
}

#leftHeaderSide {
    display: flex;
    flex-direction: row;
}

.containerLogo {
    display: flex;
    align-items: center;
    justify-content: center;
}

span {
    position: relative;
    display: inline-flex;
    width: 180px;
    height: 55px;
    margin: 0 15px;
    perspective: 1000px;
}

span a {
    font-size: 19px;
    letter-spacing: 1px;
    transform-style: preserve-3d;
    transform: translateZ(-25px);
    transition: transform .25s;
    font-family: 'Montserrat', sans-serif;
}

span a:before,
span a:after {
    position: absolute;
    content: "La Carte";
    height: 55px;
    width: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 5px;
}

.InscriptionOrConnect a:before {
    content: "Inscrire";
}

.InscriptionOrConnect a:after {
    content: "Connecter";
}

span a:before {
    color: #fff;
    background: #000;
    transform: rotateY(0deg) translateZ(25px);
}

span a:after {
    color: white;
    transform: rotateX(90deg) translateZ(25px);
}

span a:hover {
    transform: translateZ(-25px) rotateX(-90deg);
}

#overlay {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: none;
    position: fixed;
    border-radius: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.9);
    border: 1px solid #000;
    z-index: 1000;
}

model-viewer {
    height: 70vh;
    width: 70%;
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
    margin: auto;
}