<main>
    <form action="index.php" method="get">
        <input type="hidden" name="objet" value="Client">
        <input type="hidden" name="action" value="connect">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="username" required>
        </div>
        <div>
            <label for="mdp">Mot de passe</label>
            <input type="password" name="mdp" placeholder="mot de passe" required>
        </div>
        <button type="submit">Connexion</button>
    </form>
</main>